<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devtrack.modules.user.mapper.UserRoleMapper">
    <resultMap id="userRoleListMap" type="com.devtrack.modules.user.vo.UserVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="queryUserRoleByList" resultMap="userRoleListMap">
        SELECT 
            u.id,
            u.username,
            u.name,
            u.status
        FROM user_role ur
        LEFT JOIN user u ON ur.user_id = u.id
        WHERE ur.role_id = #{roleId}
        <if test="name != null and name != ''">
            AND (u.name LIKE CONCAT('%',#{name},'%') OR u.username LIKE CONCAT('%',#{name},'%'))
        </if>
        and u.status = 0
        ORDER BY u.id
    </select>
</mapper>
